@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* global styles */

*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Space Mono;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(197, 228, 231, 1);
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

input {
  outline: none;
  border: none;
}

button {
  border: none;
  border-radius: 5px;
}

label {
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  display: block;
  color: rgba(94, 122, 125, 1);
}

/* calculator box styles */

h1 {
  padding: 0 0 50px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: larger;
  font-weight: 600;
  letter-spacing: 10px;
  color: rgba(61, 102, 102, 1);
}

.calculator-box {
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  border-radius: 30px;
  box-shadow: 0px 32px 43px 0px rgba(79, 166, 175, 0.2);
  background: rgba(255, 255, 255, 1);
}

/* left content styles */

.left-content {
  flex: 1;
}

/* bill-content */

.bill-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.bill-inp {
  padding: 1% 3% 1% 10%;
  font-size: 24px;
  font-weight: 700;
  color: rgba(0, 71, 75, 1);
  border-radius: 10px;
  text-align: right;
  background-image: url(./assets/dolar-icon.SVG);
  background-repeat: no-repeat;
  background-position: center left 5%;
  background-color: rgba(243, 249, 250, 1);
}

.bill-inp::placeholder {
  padding-right: 3%;
  font-size: 24px;
  font-weight: 700;
  color: rgba(158, 187, 189, 1);
}

/* percent-btn-content */

.buttons-box {
  display: flex;
  flex-wrap: wrap;
  gap: 14px 14px;
  padding-bottom: 40px;
}

.buttons-box button {
  width: 30%;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 71, 75, 1);
}

.buttons-box input {
  padding: 0 2%;
  width: 30%;
  text-align: right;
  border-radius: 10px;
  font-weight: 700;
  font-size: 24px;
  color: rgba(0, 71, 75, 1);
  background-color: rgba(243, 249, 250, 1);
}

.buttons-box input::placeholder {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  color: rgba(84, 120, 120, 1);
}

/* number-of-people-content */

.number-of-people-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.just-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.just-box label {
  padding-bottom: 0;
}

.error-text {
  display: none;
  font-weight: 700;
  transform: translateX(-50%);
  animation: slideIn 0.5s ease forwards;
  color: rgba(225, 116, 87, 1);
}

@keyframes slideIn {
  0% {
    color: rgba(94, 122, 125, 1);
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.number-of-people-input {
  padding: 1% 3% 1% 10%;
  font-size: 24px;
  font-weight: 700;
  color: rgba(0, 71, 75, 1);
  border-radius: 10px;
  text-align: right;
  background-image: url(./assets/person-icon.SVG);
  background-repeat: no-repeat;
  background-position: center left 5%;
  background-color: rgba(243, 249, 250, 1);
}

.number-of-people-input::placeholder {
  font-size: 24px;
  font-weight: 700;
  color: rgba(158, 187, 189, 1);
}

/* right content styles */

.right-content {
  flex: 1;
  padding: 1% 5%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 13px;
  background-color: rgba(0, 71, 75, 1);
}

.final-results-content {
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title h4 {
  font-weight: 700;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}

.title span {
  font-weight: 700;
  font-size: 13px;
  color: rgba(127, 157, 159, 1);
}

.amount h3 {
  font-size: 48px;
  font-weight: 700;
  color: rgba(38, 194, 174, 1);
}

.reset-btn button {
  cursor: pointer;
  padding: 3% 0;
  width: 100%;
  text-align: center;
  font-weight: 800;
  font-size: 20px;
  color: rgba(0, 71, 75, 1);
  background-color: rgba(159, 232, 223, 1);
}
